<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  	<div class="navbar-header">
  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        	</button>
        	<ul class="nav nav-pills">
		  <li><a href="/choose">< Back</a></li>
		</ul>
  	</div>
  	<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        	<li><a class="navbar-rekindle" href="#">Rekindle</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="container">
	<h2>Help</h2>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">What is Rekindle?</h3>
	  </div>
	  <div class="panel-body">
	  	<p>
	  		Rekindle is an app that helps you keep it touch with your friends and
		  	connections whom you only rarely see.
		  </p>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">How does it work?</h3>
	  </div>
	  <div class="panel-body">
	  	<p>
		  	Rekindle keeps track of connections you haven't contacted for a while
		  	via Facebook or email. It also keeps track of significant milestones
		  	in their lives.
		  </p>
		  <p>
		  	Based off this, Rekindle presents you with a smart stack of people
		  	that you can reconnect with. Also, the more you use the app, the
		  	smarter that stack gets!
		  </p>
	  </div>
	</div>

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">How do I use Rekindle?</h3>
	  </div>
	  <div class="panel-body">
	    <a href="https://www.flinto.com/p/ba2f83d6">Repeat walkthrough</a>
	  </div>
	</div>

</div>