<!-- <link rel="stylesheet" href="/css/index_background.css"> -->

<div class="container">
	<div class="welcome2">
		<div class="iphone5-responsive-spacer-half"></div>
		<h1>Rekindle</h1>
		<div class="login-prompt">
			<p>Stay in touch with the people you care about.</p>
			<a href="/choose"><img src="/images/login_with_facebook.png" /></a>
		</div>
	</div>
</div>